<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">User Management System</h1>
    <p class="lead">SolbegSoft`s customers benefit from our broad technological expertise, blended with fresh innovative mindset and business acumen. Thoroughly analyzing our customer’s business needs, we apply best practices and innovative tools to create comprehensive solutions enabling them maximize returns on IT investments and achieve sustainable profit and consistent growth</p>
    <hr class="my-4">
    <p>Being an expert in development, customization and integration of complex enterprise-level solutions, advanced web and mobile applications, we provide solutions, helping companies in multiple business areas to improve their performance and outperform competition.</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>



